// forms
form,
fieldset {
	margin: 0;
	padding: 0;
	border-style: none;
}

input[type='text'],
input[type='tel'],
input[type='email'],
input[type='search'],
input[type='password'] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	box-sizing: border-box;
	border: 1px solid $form-element-border-color;
	padding: $form-element-padding;
	min-width: 249px;
	margin: 0 0 20px;
	color: #505050;
	border: 1px solid #e7e7e7;
	@include media ('>=desktop') {
		min-width: 379px;
	}
	&:focus {
		border-color: $form-element-focus-border-color;
	}
	
	@include placeholder {
		color: $placeholder-color;
	}
}

textarea {
	min-width: 249px;
	min-height: 86px;
	margin: 0 0 27px;
	resize: none;
	border: 1px solid #e7e7e7;
	@include media ('>=desktop') {
		min-width: 379px;
	}
}

select {
	-webkit-border-radius: 0;
}

button,
input[type='button'],
input[type='reset'],
input[type='file'],
input[type='submit'] {
	-webkit-appearance: none;
	-webkit-border-radius: 0;
	cursor: pointer;
	display: inline-block;
	width: 120px;
	height: 40px;
	background-color: #262626;
	color: #ffffff;
	border: none;
	text-transform: uppercase;
	&:hover {
		opacity: .8;
	}
	
}
